H1{
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: larger;
color: aqua;

}

div{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: aquamarine;
}

body{
    background-color: black;
}

th{
    color: rgb(100, 198, 237);
}

td{
    color:azure;
}