<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>REGISTRO DE AUTORES</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">>>

</head>

<body >
    <H1 align="center">REGISTRE UN AUTOR</H1>
    <div>
        <form align="center">

            <label>Nombre del Autor</label> <br>
            <input type="text" name="nombre"> <br>
            <label>Id del Autor</label> <br>
            <input type="text" name="id"> <br>

            <button type="submit">Registrar</button>
            <button type="reset">Borrar</button>
        </form>
    </div>

    <!--aca va la tabla,si toca editar va al form de abajo. Y eliminar el siguiente-->


    <table class="table">
        <thead>
            <tr align="center">
                <th scope="col">Nombre</th><br>
                <th scope="col">Editar Autor</th><br>
                <th scope="col">Eliminar Autor</th><br>
                <th scope="col">Buscar Autor</th><br>
            </tr>
        </thead>
        <tbody>

            <tr align="center">
                <td th:each="autor : ${autores}" th:text=”${autor.nombre}”>Nombre</td>
                
                <td><button type="button" ><a href="localhost:8080/registrarAutor/modificarAutor/#editar" class="btn btn-primary">Editar</a></button></td>
                <td><button type="button"><a href="localhost:8080/registrarAutor/dardeBaja/#eliminar" class="btn btn-danger">Eliminar</a></button></td>
                <td><button type="button"><a href="localhost:8080/registrarAutor/buscarAutor/#buscar" class="btn btn-info">Buscar</a></button></td>
            </tr>


            <tr align="center">
                <td th:each="autor : ${autores}" th:text=”${autor.nombre}”>Nombre</td>
                
                <td><button type="button" ><a href="localhost:8080/registrarAutor/modificarAutor/#editar" class="btn btn-primary">Editar</a></button></td>
                <td><button type="button"><a href="localhost:8080/registrarAutor/dardeBaja/#eliminar" class="btn btn-danger">Eliminar</a></button></td>
                <td><button type="button"><a href="localhost:8080/registrarAutor/buscarAutor/#buscar" class="btn btn-info">Buscar</a></button></td>
            </tr>



            <tr align="center">
                <td th:each="autor : ${autores}" th:text=”${autor.nombre}”>Nombre</td>
                
                <td><button type="button" ><a href="localhost:8080/registrarAutor/#editar"  class="btn btn-primary">Editar</a></button></td>
                <td><button type="button"><a href="localhost:8080/registrarAutor/#eliminar" class="btn btn-danger">Eliminar</a></button></td>
                <td><button type="button"><a href="localhost:8080/registrarAutor/#buscar" class="btn btn-info">Buscar</a></button></td>
            </tr>




        </tbody>
    </table>
    
    
   
    <H1 id="editar" align="center">EDITAR UN AUTOR</H1>
        <a href="localhost:8080/registrarAutor/#editar"> </a>
        <form align="center">
            <label>Id del Autor</label> <br>
            <input type="text" name="id"> <br>
            <label>Nombre del Autor</label> <br>
            <input type="text" name="nombre"> <br>

            <button type="submit">Guardar</button>
            <button type="reset">Borrar</button>
        </form>
    
     
        <H1 id="eliminar" align="center">DAR DE BAJA UN AUTOR</H1>
        <a href="localhost:8080/registrarAutor/#eliminar"> </a>
        <form align="center">
            <label>Id del Autor</label> <br>
            <input type="text" name="id"> <br>

            <button type="submit">Guardar</button>
            <button type="reset">Borrar</button>
        </form>
    
    


    
    
        <H1 id="buscar" align="center">BUSCAR UN AUTOR A TRAVES DEL ID</H1>
        <a href="localhost:8080/registrarAutor/#buscar"></a>
        <form align="center">
            <label>Id del Autor</label> <br>
            <input type="text" name="id"> <br>

            <button type="submit">Guardar</button>
            <button type="reset">Borrar</button>
        </form>
   
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>

</html>