/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01/06/2022, 09:42:33
    Author     : Fabi
*/
H1{
    margin-top: 2%;
    font-family:cursive;
    font-size: larger;
    color: coral
    

}

#registrar{
    margin-top: 20%;
}
#editar{
    margin-top:-28%;
}
label{
    margin-top: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:lightcoral;
    font-size: medium;
}

body {
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    background-color: lemonchiffon;
    background-attachment:scroll;
    background-size: 20%;
    background-repeat:repeat-y;
    background-position:center;
    background-image: url("/editorial.jpg");
    margin-bottom:2%;



}


th, td {

    vertical-align: top;
    border: 1px solid coral;
}

th{
     margin-top: 2%;
    font-size:smaller;
    font-family: cursive;
    color:lightcoral

}

td{
    font-size:smaller;
    font-family: cursive;
    color:lightcoral
}


