


h1{
    font-size:xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: darkslategray;
    
}

h2{
    font-size: x-large;
    font-family: cursive;
    text-align: center;
    color: darkslategray;
    
}

.container-fluid {
  height: 90%;
  width: 100%;
}

.carousel-inner img {
  height: 400px;

  display:flex;
}

body{
    background-color:lightgray;
    
}


@media (max-width: 576px) { 
    
            .carousel-item{
            height:200px;
            width: 100%;
            vertical-align: middle;
            }
}