/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/05/2022, 11:50:03
    Author     : Fabi
*/
H1{
    margin-top: 2%;
    font-family:cursive;
    font-size: larger;
    color: beige;
    
    }
    .div{
        margin-left: 15%;
    }
   
    
    #registrar{
        margin-top: 12%;
        font-family:cursive;
        font-size: larger;
        color: beige;
    }
    
    #editar{
        margin-top: 2%;
        font-family:cursive;
        font-size: larger;
        color: beige;
    }
    
    class{
        position: absolute;
        top:90%;
        margin-left:50%;
        margin-top: 2%;
        font-family:cursive;
        font-size: large;
        color: beige;
    }
   
   
    label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color:blanchedalmond;
     font-size: medium;
    }
    
   
    
    body {
       
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 10%;
        background-color: coral;
        background-attachment: scroll;
        
        background-repeat:repeat-x;
        
        background-position:top;
        
      
        background-image: url("/libro.jpg");
        margin-bottom: 2%;
     
       
       
    }
    
    th{
      
        font-size:medium;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:white;
         border: 2px solid white;
        
    }
    
    td{
        
        font-size:medium;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:white;
         border: 2px solid white;
    }

