/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/05/2022, 11:50:03
    Author     : Fabi
*/

/* .contenedor{
        width: 100%;
        max-width: 1000px;
        margin:0 auto;
        overflow: hidden;
        margin-bottom: 10%;
        margin-top: 10%;
    }*/
     body {
       
        margin-top: 10%;
      margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
        background-color: lemonchiffon;
        background-attachment: scroll;
        
        background-repeat:repeat-x;
       
        
        background-position:top;
        
        background-image: url("/libro.jpg");
       
    }
    
    
H1{
   
    font-family:cursive;
    font-size: larger;
    color: darksalmon;
    margin-top: 10%
    
    }
    h2{
        font-family:cursive;
    font-size: medium;
    color: darksalmon;
    margin-top: 5%;
    
    }
    section{
        margin-top: 10%;
        background-image: url("/lupa.jpg");
        background-repeat: no-repeat;
        background-size: cover;
       image-resolution: from-image;
    }
    .registro{
        background-image: url("/registrar libro.jpg"); 
    
        background-repeat: no-repeat;
        background-size: initial;
        background-position: right;
      
    }
    .editar{
         background-image: url("/editar libro.jpg"); 
        background-repeat: no-repeat;
        background-size: initial;
        background-position: left;
    }
    
    .borrar{
        height: 5cm;
         background-image: url("/borrar libro2.jpg"); 
        background-repeat: no-repeat;
        background-size:initial;
        background-position: right;
        margin-top:10%;
    }
    

    
   
    label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color:indianred;
     font-size: medium;
    }
    
   
    
   
    
    th{
      margin-top: 10%;
         font-size:smaller;
    font-family: cursive;
    color:mediumpurple;
       border: 1px solid mediumpurple; 
    }
    
    td{
        
        font-size:smaller;
    font-family: cursive;
    color:mediumpurple;
         border: 1px solid mediumpurple;
         
    }
    table{
        margin-bottom: 10%;
        margin-top: 5%;
        border: 1px solid mediumpurple;
    }
/*    lo siguiente se usa para cuando la pantalla se hace muy chica poder cambiar las propiedades del front y se adapte*/
    @media screen and(max-width: 800px){
        .body{
            width: 100%;
            height: auto;
            image-resolution: normal;
        }
         @media screen and(max-width: 400px){
        .contenedor{
            width: 100%;
            height: auto;
            image-resolution: normal;
        }
    }
    }
    

