/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/05/2022, 11:03:28
    Author     : Fabi
*/

#verde{
    font-family:cursive;
    font-size:large;
    color:white;
    background-color:green;
}

#error{
    font-family:cursive;
    font-size:large;
    color:white;
    background-color:red;
}


H1{
    margin-top: 2%;   
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: darkslategray;

}
h2{
    margin-bottom:auto;
    margin-top: 2%;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkslategray;
   
    
}
h3{
    font-size: large;
    font-family:cursive;
    color:darkslategray;
    margin-top: 2%;
    
    
}
.carousel-inner img {
  height: 400px;

  display:flex;
margin-top: 2%;
margin-bottom: 2%;
}

.container-fluid {
  height: 90%;
  width: 100%;
}

label{
    margin-top: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:darkslategray;
    font-size: medium;
}

body {
    
    background-color: lightgray;
    
    
}



table {

    
    border: 1px double darkslategray;
}


th{
    font-size:smaller;
    font-family: cursive;
    color:darkslategray;
    vertical-align: top;
    border: 1px double darkslategray;
}

td{
    font-size:smaller;
    font-family: cursive;
    color:darkslategray;
    vertical-align: top;
    border: 1px double darkslategray;

}
.table-responsive {
    min-height: .01%;
    overflow-x: visible;
}

@media screen and (max-width: 400px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
       
    }
    .table-responsive > .table {
        margin-bottom: 0;
    }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td {
        white-space: nowrap;
        
    }
}@media only screen and (max-width: 500px) { 
    div{
        width: 100%
    }
   }@media only screen and (max-width: 400px) { 
    body{
        display: flex;  
    background-attachment: inherit ;
    background-size: 25%;
    background-repeat:repeat-x;
    background-position:top;
    }
    h1{
        margin-top: 25%;
    }
   
}
   }

