<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html  xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
     <H1  align="center">LISTA DE AUTORES</H1>
        <table align="center" >
             <tr >
                 <th >  nombre  </th> 
                
                     <th > id  </th> 
               
                         <th > alta</th> 
                
              </tr>
            <tr th:each="autor: ${nombreAutores}" align="center">
                <th th:text=”${autor.nombre}”> nombre </th> 

                <th th:text=”${autor.id}”> id </th> 

                <th th:text=”${autor.alta}”> alta </th>
                
                

            </tr>
           
        </table>
    </body>
</html>
