<!DOCTYPE html>
<!--
Para los botones usar el fragment de thymeleaf.
-->
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>REGISTRO DE AUTORES</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">

                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
                      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"></link>
                <link href="\libreriaAutor.css" rel="stylesheet" </link>

                </head>

                <body>
                    <div class="container-fluid">


                        <div  id= "verde" th:if="${exito}!=null" >

                            <h5 class="card-title" >Exito</h5>
                            <p class="card-text"  th:text="${exito}"></p>

                        </div>
                        <div id="error" th:if="${error}!=null" >

                            <h5 class="card-title">Error</h5>
                            <p class="card-text" th:text="${error}"></p>

                        </div>
                        <header>
                            <nav class="navbar bg-dark justify-content-end">


                                <ul class="nav justify-content-end ">
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="http://localhost:8080/">Inicio</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="/registrarLibro">Libros</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="/registrarEditorial">Editoriales</a>
                                    </li>


                                </ul>
                            </nav>    
                            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                                <div class="carousel-inner" align="center">
                                    <div class="carousel-item active " >
                                        <img src="a1.jpg"  class="d-block w-60" alt="Borges">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="a2.jpg" class="d-block w-60" alt="Allende">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="a3.jpg" class="d-block w-60" alt="Cortazar">
                                    </div>
                                    <div class="carousel-item ">
                                        <img src="a4.jpg" class="d-block w-60" alt="Bonelli">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="a5.jpg" class="d-block w-60" alt="Sabato">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="a6.jpg" class="d-block w-60" alt="Agatha">
                                    </div>
                                    <div class="carousel-item ">
                                        <img src="a7.jpg" class="d-block w-60" alt="Sidney">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="a8.jpg" class="d-block w-60" alt="Collins">
                                    </div>

                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </header>


                        <div class="cuerpo">
                            <div class="table-responsive" align="center">

                                <H1 align="center"><u>LISTA DE AUTORES</u></H1>
                                <table >


                                    <tr>
                                        <th>nombre</th>

                                        <th> id</th>

                                        <th>  alta</th>

                                    </tr>



                                    <tr>
                                        <tr th:each="autor:${nombreAutores}">
                                            <td th:text="${autor.getNombre()}">nombre</td>

                                            <td th:text="${autor.getId()}"> id </td>

                                            <td th:text="${autor.getAlta()}"> alta </td>



                                        </tr>

                                </table>
                            </div>



                            <H2 align="center" id="registrar"><u>REGISTRAR UN AUTOR</u></H2>
                            <form action="/paginaDelAutor/registrarAutor" method="POST" align="center">

                                <label>Nombre</label> <br>
                                    <input type="text" name="nombre"> <br>

                                            <br>
                                                <button type="submit" class="btn btn-outline-success">Registrar</button>
                                                <button type="reset" class="btn btn-outline-danger">Cancelar</button>

                                                </form>



                                                <H2 align="center"><u>EDITAR UN AUTOR</u></H2>
                                                <form action="paginaDelAutor/editarAutor" method="POST" align="center">

                                                    <label>Nombre Viejo</label> <br>
                                                        <input type="text" name="nombreViejo"> <br>
                                                                <label>Nombre Nuevo</label> <br>
                                                                    <input type="text" name="nombreNuevo"> <br>
                                                                            <br>
                                                                                <button type="submit" class="btn btn-outline-success">Guardar</button>
                                                                                <button type="reset" class="btn btn-outline-danger">Borrar</button>
                                                                                </form>


                                                                                <H2 align="center"><u>ELIMINAR UN AUTOR</u></H2>
                                                                                <form action="paginaDelAutor/eliminarAutor" method="POST" align="center">
                                                                                    <label>Id del Autor</label> <br>
                                                                                        <input type="text" name="id"> <br>
                                                                                                <br>
                                                                                                    <button type="submit" class="btn btn-outline-success">Eliminar</button>
                                                                                                    <button type="reset" class="btn btn-outline-danger">Cancelar</button>
                                                                                                    </form>




                                                                                                    <H2 align="center"><u>BUSCAR UN AUTOR</u></H2>

                                                                                                    <H3 align="center">POR ID</H3>
                                                                                                    <form action="paginaDelAutor/buscarAutorPorid" method="GET" align="center">
                                                                                                        <label>Id</label> <br>
                                                                                                            <input type="text" name="id"> <br>
                                                                                                                    <br>
                                                                                                                        <button type="submit" class="btn btn-outline-success">Buscar</button>
                                                                                                                        <button type="reset" class="btn btn-outline-danger">Cancelar</button>

                                                                                                                        </form>

                                                                                                                        <H3 align="center"> POR NOMBRE</H3>
                                                                                                                        <form action="paginaDelAutor/buscarAutorPorNombre" method="GET" align="center">
                                                                                                                            <label>Nombre</label> <br>
                                                                                                                                <input type="text" name="nombre"> <br>
                                                                                                                                        <br>
                                                                                                                                            <button type="submit" class="btn btn-outline-success">Buscar</button>
                                                                                                                                            <button type="reset" class="btn btn-outline-danger">Cancelar</button>

                                                                                                                                            </form>
                                                                                                                                            <br>
                                                                                                                                                <br>
                                                                                                                                                    </div>
                                                                                                                                                    <footer>
                                                                                                                                                        <nav class="navbar bg-dark justify-content-center">

                                                                                                                                                            <ul class="nav justify-content-center">

                                                                                                                                                                <li class="nav-item">
                                                                                                                                                                    <a class="nav-link text-white" href="https://www.linkedin.com/in/fabyrossetto/"><u>Proyecto Realizado por Fabiana Rossetto</u> </a>                                                                                                                       

                                                                                                                                                                </li>

                                                                                                                                                            </ul>
                                                                                                                                                        </nav>
                                                                                                                                                    </footer>



                                                                                                                                                    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                                                                                                                                                            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                                                                                                                                                    crossorigin="anonymous"></script>
                                                                                                                                                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
                                                                                                                                                            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
                                                                                                                                                    crossorigin="anonymous"></script>

                                                                                                                                                    </div>
                                                                                                                                                    </body>

                                                                                                                                                    </html>



